In [4]:
#load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier #Import Decision Tree Classifier
from sklearn.model_selection import train_test_split #Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [12]:
#Working with the dataset here

col_names = ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','target']
data = pd.read_csv("heart.csv",header=None, names=col_names)

In [6]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1,52,1,0,125,212,0,1,168,0,1,2,2,3,0
2,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
3,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
4,61,1,0,148,203,0,1,161,0,0,2,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1021,59,1,1,140,221,0,1,164,1,0,2,0,2,1
1022,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1023,47,1,0,110,275,0,0,118,1,1,1,1,2,0
1024,50,0,0,110,254,0,0,159,0,0,2,0,2,1
1025,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [32]:
#split the dataset in features and target variable
feature_cols = ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal']
x = data[feature_cols]
x = data.iloc[1:,:-1]
y = data['target']
y = data.iloc[1:,-1]

In [64]:
#Splitting data into Train and Test Sets
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=100)

In [65]:
#Create Decision Tree Classifier object using entropy
clf_entropy = DecisionTreeClassifier(criterion="entropy", max_depth=2)

#Train Decision Tree Classifier
clf_entropy = clf_entropy.fit(x_train, y_train)

In [66]:
#Predict the response for test dataset
y_pred = clf_entropy.predict(x_test)
#user_input = [55,1,0,160,289,0,0,145,1,0.8,1,1,3]
#y_pred2 = clf_entropy.predict(user_input)
print("Accuracy", metrics.accuracy_score(y_test,y_pred))

Accuracy 0.7121951219512195